:root {
  --green-d: hsl(87, 53%, 43%);
  --green-l: hsl(91, 44%, 46%);
  --blue-d: hsl(220, 38%, 33%);
  --blue-l: hsl(220, 38%, 39%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto Slab';
  color: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  min-height: 4.2em;
  background: linear-gradient(var(--green-d), var(--green-l));
  box-shadow: 0 0 0.2em black;
  justify-content: start;
  z-index: 1;
}

.logo {
  height: 3.3em;
  position: absolute;
  left: 1.5em;
}

.menu-toggle {
  fill: white;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0.9em;
  right: 1.5em;
  user-select: none;
  transition: 170ms ease;
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: hsl(55, 90%, 66%);
}

.nav-list {
  list-style: none;
  font-family: 'Baloo 2';
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 2.3em;
}

.nav-list-on {
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 90px;
  gap: 1.2em;
  font-size: 1.3em;
  padding: 1em 0.5em;
  margin: 0;
  background: var(--green-l);
  opacity: 0.98;
  box-shadow: 0 0 0.1em black;
  transform: scale(1);
  transition: 200ms ease;
  transform-origin: top;
}

.nav-button {
  font-size: 1.4em;
  display: inline-block;
  max-width: fit-content;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin: auto 0.6em;
  transition: color 100ms;
}

.nav-button:hover,
.nav-button:focus,
.footer a:hover,
.footer a:focus {
  color: hsl(55, 90%, 66%);
}

.footer {
  margin-top: auto;
  background: linear-gradient(var(--green-d), var(--green-l));
  padding: 1.5em 5em 1em;
  justify-content: center;
  gap: 1.5em;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0.1em black;
  color: hsla(0, 0%, 100%, 0.7);
}

.footer > * {
  flex: 1;
}

.footer > .footer-company {
  flex-basis: 20%;
  text-align: end;
}

.footer h4 {
  margin: 0 0 1rem;
  padding: 0 0 0.3rem;
  display: inline-block;
  border-bottom: solid 2px hsla(0, 0%, 0%, 0.1);
  font-family: 'Roboto Slab';
  font-weight: 500;
}

.footer-company > h4 {
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  line-height: 2;
  font-weight: 400;
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.8);
  white-space: nowrap;
  margin: 0;
  transition: 150ms;
}

.footer li,
.footer p {
  line-height: 2;
  font-weight: 300;
  font-size: 0.85em;
  margin: 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/******************/

.grid-container {
  align-self: center;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(9, 1fr);
  gap: 1.1em;
  margin: 7em auto 3em;
  width: min(98%, 95em);
  place-content: center;
}

.card-container {
  background: radial-gradient(var(--blue-l), var(--blue-d));
  box-shadow: 0 0 0.1em black;
  border-radius: 0.4em;
  padding: 1.2em;
  gap: 1em;
  grid-column: span 5;
  overflow: hidden;
  display: grid;
  place-items: center;
}

h1 {
  font-size: clamp(2.3em, 3.4vw, 3.8em);
  line-height: 1.25;
  font-family: 'Lato';
  margin: 0 15%;
  color: white;
  text-align: center;
}

.highlight {
  color: hsl(80, 60%, 67%);
}

h2 {
  font-size: clamp(1.15em, 2vw, 1.5em);
  line-height: 1.25;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
}

h3 {
  font-size: clamp(1.2em, 1.3vw, 2.3em);
  margin: 0.5em 0;
  text-align: center;
  font-family: 'Lato';
}

.card {
  background: linear-gradient(hsla(0, 0%, 11%, 0.342), hsla(0, 0%, 22%, 0.342));
  border-radius: 1em;
  box-shadow: 0.05em 0.05em 0 rgba(48, 51, 68, 0.616);
  padding: 0.4em 1.5em;
}

.card > p {
  line-height: 1.5;
  font-weight: 300;
  padding: 0;
  margin: 0.5em 0.25em;
}

p > strong {
  font-weight: 500;
}

.card-on-img {
  background: radial-gradient(
    hsla(220, 32%, 24%, 0.98),
    hsla(220, 32%, 34%, 0.9)
  );
  box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.692);
}

form {
  margin: 0;
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.form-img {
  background-image: url('img/img6.jpg');
  background-size: cover;
  background-position-y: center;
  grid-column: span 4;
}

form > input {
  margin: 0.15em 0 0.4em 0;
  border: none;
  border-radius: 0.5em;
  transition: 100ms ease;
}

form > input:focus {
  outline: solid 2px var(--green-l);
}

form > input {
  width: 90%;
  align-self: center;
}
form > label {
  display: inline-block;
  margin: 0.2em 0.67em;
  width: fit-content;
}

form > button {
  align-self: center;
  font-family: 'Baloo 2';
  font-weight: 500;
  margin: 1em auto;
  cursor: pointer;
  border-radius: 1.2em;
  padding: 0.8em 2em;
  border: none;
  background: hsl(87, 53%, 41%);
  color: white;
  transition: 150ms ease;
}

form > button:hover,
form > button:focus {
  background: hsl(87, 53%, 43%);
}
form > button:active {
  background: hsl(87, 53%, 45%);
}

.card-col {
  grid-column: span 2;
  grid-row: span 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 2em;
  padding: 1.5em 0.5em;
  background: radial-gradient(var(--blue-l), var(--blue-d));
  box-shadow: 0 0 0.1em black;
  border-radius: 0.5em;
}

.icon-text-container {
  display: flex;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
}

.icon {
  width: clamp(3.5em, 37%, 6em);
  padding: 0.5em;
  display: inline-block;
}

.card-col > .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 95%;
  padding: 0.5 0.25em;
}

.card-inner-border {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.card-col p {
  font-weight: 400;
}

.slider {
  display: flex;
  max-width: 100%;
  position: relative;
  grid-column: span 3;
  overflow: hidden;
}

.slider-window {
  display: grid;
  gap: 0.5em;
  place-content: center;
}

.slider-container {
  display: flex;
  gap: 15%;
  transition: 900ms ease-in-out;
}

.slider-img {
  transform: scale(0.75);
  object-fit: cover;
  object-position: left 50%;
  min-width: 100%;
  aspect-ratio: 4/3;
  border-radius: 1em;
  user-select: none;
  transition: 450ms;
}

.current-img {
  transform: scale(1);
}

#slider-button-right,
#slider-button-left {
  display: inline-block;
  position: absolute;
  z-index: 1;
  border: none;
  height: 100%;
  width: 18%;
  background: black;
  opacity: 0;
  border-radius: 1em 0 0 2em;
  transition: 200ms ease;
  user-select: none;
  cursor: pointer;
}

#slider-button-right {
  right: 0%;
  transform: rotate(180deg) scaleY(-1);
}

#slider-button-right:hover,
#slider-button-left:hover {
  opacity: 0.1;
}
#slider-button-right:focus-visible,
#slider-button-left:focus-visible {
  opacity: 0.1;
}

#slider-button-right:active,
#slider-button-left:active {
  opacity: 0.2;
}

.slider-indicator-container {
  grid-column: span 3;
  background: radial-gradient(var(--blue-l), var(--blue-d));
  margin: 0;
  padding: 1em;
  width: 100%;
  justify-content: center;
  display: flex;
  border-radius: 1em 1em 2em 2em;
}

.slider-indicator {
  aspect-ratio: 1;
  width: clamp(1.4em, 1vw, 1.7em);
  display: inline-block;
  border-radius: 50%;
  border: solid 2px white;
  margin: 0 0.25em;
  transition: 800ms ease;
  cursor: pointer;
}

.slider-indicator-active {
  background: white;
  cursor: default;
}

@media (max-width: 68em) {
  .footer > .footer-company {
    flex: 1;
    text-align: start;
  }
  .card-col {
    grid-column: span 3;
    padding: 1.5em;
    gap: 1.5em;
  }
  .card-col > .card {
    width: 100%;
  }

  .card-col > h2 {
    min-height: 2em;
  }

  .slider {
    grid-column-start: 3;
    grid-column-end: 8;
  }
  .slider-indicator-container {
    grid-column-start: 3;
    grid-column-end: 8;
  }
}

@media (max-width: 40em) {
  .nav-list-off {
    transform: scale(0);
  }
  .menu-toggle {
    display: inline-block;
  }
  .navbar {
    display: inline-block;
    position: static;
    width: 100%;
  }
  .logo {
    top: 0.45em;
  }
  .footer {
    padding: 1.5em 2em 1em;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 3.5em auto;
    row-gap: 0.8em;
    column-gap: 0.2em;
  }
  .grid-container > * {
    grid-column: span 3;
  }
  .card-container {
    margin-bottom: 1.2em;
  }
  .card-col {
    grid-column: span 1;
    padding: 0;
    padding-top: 1.25em;
    margin-bottom: 1.2em;
  }
  .card-col > .card {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }
  #slider-button-right,
  #slider-button-left {
    opacity: 0.05;
    width: 16%;
  }
}

@media (max-width: 28em) {
  .card-col > .card {
    padding: 0;
  }
  .icon-text-container {
    flex-direction: column;
  }
}
